.cell {
    -fx-border-color: #D2B48C;
    -fx-border-width: 0.5px;
    -fx-background-color: #FFF8DC;
    -fx-padding: 5px;
    -fx-transition: background-color 0.2s;
}

.cell:hover {
    -fx-background-color: #F0E6D2;
}

#selected-cell {
    -fx-border-color: #A0522D;
    -fx-border-width: 2px;
    -fx-background-color: #E6CCB2;
}

.header {
    -fx-border-width: 0.5px;
    -fx-border-color: #8B4513;
    -fx-background-color: #A0522D;
    -fx-text-fill: #F0E6D2;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 8px;
}

.dependency-cell {
    -fx-border-color: #CD853F;
    -fx-border-width: 2px;
    -fx-background-color: #FAEBD7;
}

.influence-cell {
    -fx-border-color: #DEB887;
    -fx-border-width: 2px;
    -fx-background-color: #FEFAF5;
}

.ranged-cell {
    -fx-border-color: #D2691E;
    -fx-border-width: 2px;
    -fx-background-color: #FFE4B5;
}