/* General button style */
.button {
    -fx-background-color: #4CAF50;  /* Green */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10px;
}

.button:hover {
    -fx-background-color: #ffcc00;  /* Yellowish on hover */
    -fx-text-fill: black;
}

/* Label style */
.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

/* Specific label customization for headers */
.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-background-color: lightblue;
    -fx-text-fill: darkblue;
    -fx-padding: 15px;
    -fx-alignment: center;
}

/* TextField style */
.text-field {
    -fx-border-color: #25571f;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #f4f4f4;
    -fx-padding: 5px;
}

/* Separator customization */
.separator {
    -fx-border-color: #ff6600;
}

/* SplitMenuButton */
.split-menu-button {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.split-menu-button:hover {
    -fx-background-color: #ffcc00;
    -fx-text-fill: black;
}
