.cell {
    -fx-border-color: #90CAF9;
    -fx-border-width: 0.2px;
    -fx-background-color: WHITE;
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-min-width: 80px;
    -fx-max-width: 200px;
}

.cell:hover {
    -fx-background-color: rgba(144, 202, 249, 0.5);
}

#selected-cell {
    -fx-border-color: #90CAF9;
    -fx-border-width: 2px;
    -fx-background-color: rgba(144, 202, 249, 0.5);
}

.header {
    -fx-border-width: 0.5px;
    -fx-border-color: #2196F3;
    -fx-background-color: #1565C0;
    -fx-text-fill: #E3F2FD;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-padding: 8px;
}

.dependency-cell {
    -fx-border-color: #B39DDB;
    -fx-border-width: 2px;
    -fx-background-color: #EDE7F6;
}

.influence-cell {
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-background-color: rgba(76, 175, 80, 0.3);
}

.ranged-cell {
    -fx-border-color: #F48FB1;
    -fx-border-width: 2px;
    -fx-background-color: #FCE4EC;
}
