.cell {
    -fx-border-color: lightgray;
    -fx-border-width: 0.5px;
}

#selected-cell {
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.header{
    -fx-border-width: 0.5px;
    -fx-border-color: lightgray;
    -fx-background-color: green;
    -fx-text-fill: white ;
    -fx-alignment: center;
}
.dependency-cell {
    -fx-border-color: lightblue;
    -fx-border-width: 2px;
}

.influence-cell {
    -fx-border-color: lightgreen;
    -fx-border-width: 2px;
}
.ranged-cell{
    -fx-border-color: pink;
    -fx-border-width: 2px;
}
